body {
    background-color: rgb(32, 32, 32);
}

#cover {
    background-color: rgb(112, 135, 138);
    height: 500px;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    margin: 1%;
    padding: 1%;
}

#nav-right {
    display: inline-flex;
    justify-items: flex-end;
}

#nav-left {
    display: inline-flex;
}

nav {
    background-color: #1a1a1a;
}

.featured {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;  
  border: 1px solid rgb(220, 220, 220);
  border-radius: 30px;
  background-color:  #1a1a1a;
  flex-direction: column;
  align-items: center;
}

footer {
	background-color: #1a1a1a;
	width: 100%;
	color: white;
	padding: 38px 0;
	left: 0px;
	bottom: 0px;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.img-placehold {
    display: flex;
    justify-items: center;
    background-color: rgb(88, 120, 124);
    width: 170px;
    height: 170px;
    margin: 5%;
    border: 3px solid rgb(36, 72, 77),
}

.featured-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4% 0;

}

.nav-link {
 size: 10%;
 color: white;
}

.nav-btn {
 size: 10%;
 font-weight: bold;
 color: white;
 background-color: rgb(184, 76, 119);
 border-radius: 20%;
 padding: 3% 4%;
}


p {
  color: white;
  display: flex;
  justify-items: flex-end;
  text-align: right;
}

.test {
  background-image: url("Exp3.gif");
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: rgba(209, 7, 202, 0.8) 0 0 70px 5px;
}

.banner img {
  width: 80%;
  display: block;
}

.trap {
  --cut: 25%;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50vw;        
  background: black;
  clip-path: polygon(var(--cut) 0, 100% 0, 100% 100%, 0 100%);

  padding-left: 10%;
  box-sizing:border-box;

  display:flex;
  justify-content:center;
  align-items:center; 

  color:#fff;
}

.trap-text{
  display:inline-block;
}

.links {
  display: inline-block;
}

i {
  padding: 5%;
  font-size: 500%;
}

footer h1{
  display: inline;
}